## 比较coverage-based clustering 和 Raxml tree生成的cluster
achen@20210606

In [13]:
import pandas as pd

In [1]:
#pip install treecluster

In [7]:
!!TreeCluster.py  -i ../genome_comparision/cluster_distance/phylogenetic_tree/RAxML/RAxML_bestTree.lal -t 0.1 > phlo.cluster.txt

[]

In [8]:
!! ls ../functional_analysis/clusters/

['achen@123.57.43.237',
 'backup',
 'f.cluster1.txt',
 'f.cluster2.txt',
 'f.cluster3.txt',
 'f.cluster4.txt',
 'f.cluster5.txt']

In [10]:
#!! cat ../functional_analysis/clusters/f.cluster1.txt
path = '../functional_analysis/clusters/'
clustered = []
for i in ['1','2','3','4','5']:
    with open(path+'f.cluster%s.txt'%i,'r') as inpf:
        for line in inpf:
            line = line.strip()
            clustered.append([line,i])

In [16]:
clustered_df = pd.DataFrame(clustered,columns=['genome','cluster_id'])
clustered_df

              genome cluster_id
0    GCA_008680095.1          1
1    GCA_003467805.1          1
2    GCA_003465525.1          1
3    GCA_014868765.1          1
4    GCA_014868685.1          1
..               ...        ...
131  GCA_014869135.1          5
132  GCA_004554025.1          5
133  GCA_004551805.1          5
134  GCA_004552345.1          5
135  GCA_001406615.2          5

[136 rows x 2 columns]

In [23]:
pho_clustered_df = pd.read_csv('phlo.cluster.txt',sep='\t')
pho_clustered_df.columns = ['genome','cluster_id']
pho_clustered_df['genome'] = pho_clustered_df['genome'].str.replace('GCF_','GCA_')
pho_clustered_df = pho_clustered_df[pho_clustered_df['cluster_id']>-1]

In [28]:
clustered_df = clustered_df[clustered_df['genome'].isin(list(pho_clustered_df['genome']))].set_index('genome')

In [29]:
clustered_df

                cluster_id
genome
GCA_003467805.1          1
GCA_003465525.1          1
GCA_003434015.1          1
GCA_003433905.1          1
GCA_003287405.1          1
...                    ...
GCA_902167845.1          4
GCA_902167865.1          4
GCA_902167805.1          4
GCA_902364275.1          5
GCA_002550035.1          5

[80 rows x 1 columns]

In [33]:
pho_clustered_df = pho_clustered_df.set_index('genome').loc[clustered_df.index]
pho_clustered_df

                 cluster_id
genome
GCA_003467805.1           5
GCA_003465525.1           5
GCA_003434015.1           5
GCA_003433905.1           5
GCA_003287405.1           5
...                     ...
GCA_902167845.1           2
GCA_902167865.1           2
GCA_902167805.1           2
GCA_902364275.1           4
GCA_002550035.1           4

[80 rows x 1 columns]

In [36]:
from sklearn.metrics.cluster import adjusted_rand_score,normalized_mutual_info_score

In [37]:
adjusted_rand_score(clustered_df['cluster_id'],pho_clustered_df['cluster_id'])

0.8466718301517153

In [38]:
normalized_mutual_info_score(clustered_df['cluster_id'],pho_clustered_df['cluster_id'])

0.8254460523780335